/* Tag styling */
body {
  background-color: #eaf6f6;
}
h1 {
  color: #66bfbf;
}
h2 {
  color: #66bfbf;
}
hr {
  border-style: none;
  border-top-style: dotted;
  color: gray;
  border-width: 5px;
  width: 5%;
}
img {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}
a {
  color: black;
}
a:hover {
  color: #66bfbf;
}
/* ---------- Class styling ---------- */
.clearAll {
  border-radius: 0%;
}
.specificWidth {
  width: 100px;
}

/* ---------- Identification styling ---------- */
