h1 {
  margin-top: 0;
}
.top-content {
  background-color: #e4f9f5;
  /* border: 10px solid; */
  /* height: 200px;
  width: 200px; */
  /* padding: 10px; */
}
.middle-content {
  background-color: red;
  /* border: 20px solid; */
  height: 200px;
  width: 200px;
  /* margin-left: 240px; */
}
.bottom-content {
  background-color: sandybrown;
  /* border: 10px solid; */
  height: 200px;
  width: 200px;
  /* margin-left: 480px; */
}

.light {
  color: white;
  text-align: center;
}
